body {
    margin: 0;
    background-color: rgb(255, 227, 192);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-decoration: none;
}


.links .active {
    font-weight: bold;
}


.navwrapper {
    height: 5%;
    z-index: 3;
}

.navwrapper nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#ffd093;
    justify-content: space-between;
    /* background-color: red; */
}


.navwrapper {
    animation: translatenav 0.8s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes translatenav {
    0% {
        transform: translate(0, -4000px);
    }
    100% {
        transform: translate(0, 0)
    }
}

.homebutton {
    width: 40%;
    height: 100%;
    /* background-color: grey; */
    display: inline-block;
}

.logolabel {
    /* background-color: aqua; */
    height: 50%;
}

.homebutton .logolabel {
    display: relative;
    float: right;
    width: 75%;
    height: 60%;
}



.logo img {
    float: left;
    width: 180px;
}

.logolabel p {
    font-size: 2.5vw;
    font-family: "Poetsen One";
    color: #f02131;
}

.links {
    display: flex;
    justify-content: center;
    /* background-color: black; */
}

.links a {
    font-size: 2em;
    font-family: "Montserrat";
    display: flex;
    text-decoration: none;
    padding: 0% 3%;
    color: black;
    transition: all 100ms ease
}

.links a:hover {
    transform: scale(1.05);
}

.buttons {
    display: flex;
    gap: 15px;
}

.buttons p {
    color: black;
    font-size: 1.3em;
    padding-right: 15px;

}
.buttons i {
    margin-right: 0;
}

.container {
    background-color: burlywood;
    font-size: 2em;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 75vh;
    border-radius: 15px;
    text-align: center;
    box-shadow: 10px 10px 20px gray;
}

.container {
    animation: translation 0.8s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes translation {
    0% {
        transform: translate(0, 2000px);
    }

    100% {
        transform: translate(0, 0)
    }
}


button {
    margin-top: 50px;
    font-size: 1.5;
    width: 300px;
    height: 60px;
    border-radius: 15px;
}


.custom-field {
    position: relative;
    font-size: 0.7em;
    padding-top: 20px;
    margin-bottom: 20px;
}

.custom-field .placeholder {
    position: absolute;
    left: 12px;
    top: 20px;
    /* transform: translateY(-50%); */
    color: gray;
    transition: all 0.3s ease;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder {
    top: 5px;
    font-size: 15px;
}

.custom-field input {
    width: 60%;
    height: 30px;
    font-size: 1em;
    border: 2px solid #ddd;
    appearance: none;
    background-color: rgb(252, 252, 252);
    padding: 12px;
    border-radius: 3px;
    outline: none;
}

.custom-field input:valid,
.custom-field input:focus {
    border-color: #222;
}

.container h1 {
    padding-top: 50px
}

.submit {
    padding-top: 25%;
}

