body {
    margin: 0;
    background-color: rgb(255, 227, 192);
    width: 100%;
    height: 100%;
}

.links .active {
    font-weight: bold;
}

.navwrapper {
    height: 5%;
}

.navwrapper nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#ffd093;
    justify-content: space-between;
    /* background-color: red; */
}

.navwrapper {
    animation: translatenav ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes translatenav {
    0% {
        transform: translate(0, -4000px);
    }
    100% {
        transform: translate(0, 0)
    }
}




.homebutton {
    width: 40%;
    height: 100%;
    /* background-color: grey; */
    display: inline-block;
}

.logolabel {
    /* background-color: aqua; */
    height: 50%;
}

.homebutton .logolabel {
    display: relative;
    float: right;
    width: 75%;
    height: 60%;
}



.logo img {
    float: left;
    width: 180px;
}

.logolabel p {
    font-size: 2.5vw;
    font-family: "Poetsen One";
    color: #f02131;
}

.links {
    display: flex;
    justify-content: center;
    /* background-color: black; */
}

.links a {
    font-size: 2em;
    font-family: "Montserrat";
    display: flex;
    text-decoration: none;
    padding: 0% 3%;
    color: black;

    transition: all 100ms ease
}

.links a:hover {
    transform: scale(1.05);
}

.buttons {
    display: flex;
    gap: 15px;
}

.buttons p {
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    padding-right: 15px;

}
.buttons i {
    margin-right: 0;
}


.container {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    max-width: 80%;
    margin: 25px auto;
    border-radius: 10px;
    font-family: Montserrat;
}   

.container h1 {
    margin-left: 20px;
    

}

.leftcontainer {
    background: burlywood;
    width: 60%;
    font-size: 1.2em;
    border-radius: 15px;
}

.rightcontainer {
    background: rgb(172, 132, 81);
    width: 30%;
    border-radius: 15px;
    padding: 0px 15px;
}

.items {
    display: flex;
    flex-direction: row;
    background-color: rgb(219, 176, 116);
    height: 120px;
}

.items img {
    border-radius: 10px;
    margin: 5px;
    width: 125px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 15px;
}

.item-info {
    min-width: fit-content;
    padding-right: 10px;
}

.price {
    display: flex;
    /* background-color:aqua; */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: end;
    padding-right: 25px;
    font-size: 1.3em;
}

.rightcontainer {
    display: flex;
    flex-direction: column;
    max-height: 400px;
}

hr {
    width: 100%;
    border-color: black;
}

.total-individual {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.total-final {
    font-size: 1.5em;

}


.right {
    text-align: right;
    padding-right: 5px;
}

.checkout-container {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 88, 48);
    border-radius: 20px;
}

.checkout {
    height: fit-content;
    padding: 0;
    display: flex;
    justify-content: center;
    width: fit-content;
    text-align: center;
    font-size: 1.5em;
    
}

a {
    text-decoration: none;
    color: black;
}

.footer-wrapper {
    margin-top: 180px;
    background-color: #ffd093;
}




.grid-wrap {
    background-color: #ffd093; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 25vh;
    width: 70%;
    margin: 0px auto;
}

.footersection a {
    width: fit-content;
    text-align: center;
    text-decoration: none;
    color: black;
    transition: all 150ms ease
}

.footersection a:hover {
    color: rgb(83, 83, 83);
}


.footersection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10%;
    margin-top: 26px;
    font-size: 1.5em;
}


@media only screen and (min-width: 431px) {
    .icon {
        display: none;
    }
}

@media only screen and (max-width: 430px) {
    html, body {
        overflow-x: hidden;
    }

    .grid-wrap {
        width: 90%;
    }
 
    .logolabel p {
        display: none;
    }

    nav .links {
        display: none;
    }

    .buttons p {
        font-size: 0.8em;
    }

    .container {
        flex-direction: column;
    }

    .leftcontainer {
        width: 99%;
        font-size: 0.8em;
        flex-direction: column;
        margin-bottom: 25px;
    }
    
    .rightcontainer {
        width: 90%;

    }


    .price {
        display: none;
    }
}