body {
    background-color: burlywood;
    margin: 0px;
    overflow: hidden;
}

#menu {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

#background {
    height: 100%;
    width: 100vw;
    background-image: url(assets/homepagebackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1vh);
    opacity: 0.8;

    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1;
    transition: background-size 400ms ease-in-out, opacity 400ms ease-in-out;
}

#menu-items:hover ~ #background {
    opacity: 0.3;
}

.menu-item {
    color: black;
    font-size: clamp(3rem, 5vw, 8rem);
    font-family: "Briem Hand", serif;
    font-weight: bold;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease, transform 150ms ease-in-out;
    opacity: 0.3;
    
}

#menu-items {
    margin-left: clamp(4rem, 10vw, 48rem);
    z-index: 2;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
    transform: translate(15px);
}


.menu-items::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: -10px;
    transition: all ease-in-out 100ms;
}

#contentsbg {
    background-color: burlywood;
    position: absolute;
    display: block;
    margin-left: clamp(2rem, 10vw, 7vw);
    margin-right: 0%;
    margin-top: -10%;
    width: 1100px;
    height: 100000px;
    left: 45%;
    z-index: 3;
    transform: rotateZ(-28deg);
    transition: background-color 100ms ease-in-out, margin-left 100ms ease-in-out;
}
/* 
#contentsbg:hover {
    background-color: rgb(216, 176, 125);
    margin-left: clamp(2rem, 10vw, 6vw);
    transform: rotateZ(-28deg);
} */

#contents {
    /* background-color: white; */
    display: inline-block;
    position: absolute;
    right: -1.5%;
    top: 0%;
    height: 100%;
    width: 70%;
    z-index: 4;
    text-align: right;
    /* padding-right: 2.5%; */
    

}

#contents:hover + #contents {
    background-color: rgb(216, 176, 125);
    margin-left: clamp(2rem, 10vw, 6vw);
    transform: rotateZ(-28deg);
}

#contents span {
    color: #f02131;
    font-family: "Poetsen One";
    font-size: clamp(2rem, 4vw, 6rem);
}

#contents img {
    height: clamp(10%, 40%, 80%);
    width: clamp(1rem, 40%, 80%);   
}

#contents p {
    font-family: "Montserrat";
    margin-right: 6%;
}

#contents h1 {
    font-family: "Briem Hand";
    margin-right: 6%
}

.contentsChild1 {
    /* background-color: aquamarine; */
    width: 75%;
    float: right;
}

.contentsChild2 {
    /* background-color: grey; */
    font-size: clamp();
    float: right;
    width: 80%;
    
}

.logo {
    width: 100%;
    /* background-color: greenyellow; */
    display: flex;
    align-items: center;
    justify-content: right;

}

#contents img {
    width: 15vw;
    padding-right: -10%
}

.medias {
    /* background-color: black; */
    bottom: 0;
    right: 0;
    width: 30%;
    float: right;
    position: absolute;
    z-index: 5;
    
}

#contents .medias img {
    position: inherit;
    width: 80px;
    padding-right: 13%;
    padding-bottom: 5%;
}



