body {
    background-color: burlywood;
    margin: 0px;
    /* overflow: hidden; */
}


#menu {
    height: 100vh;
    display: flex;
    align-items: center;
}

#firstbackground {
    height: 100%;
    width: 100vw;
    background-image: url(assets/homepagebackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1vh);
    opacity: 0.8;

    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1;
    transition: background-size 400ms ease-in-out, opacity 400ms ease-in-out;
}

#menu-items:hover ~ #firstbackground {
    opacity: 0.3;
}

.menu-item {
    color: black;
    font-size: clamp(3rem, 5vw, 8rem);
    font-family: "Briem Hand", serif;
    font-weight: bold;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease, transform 150ms ease-in-out;
    opacity: 0.3;
    
}

#menu-items {
    margin-left: clamp(4rem, 10vw, 48rem);
    z-index: 2;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
    transform: translate(15px);
}


.contentsbg {
    font-size: 4em;
    font-family: "Briem Hand";

    background-color: burlywood;
    margin-left: clamp(10vw, 10vw, 20vw); 
    margin-right: 0px;
    transform: rotateZ(-20deg);
    width: 932893219312px; 
    height: 200%;
    text-align: right;
    padding-right: 50px;
    z-index: 2;
    transition: background-color 100ms ease-in-out, transform 100ms ease-in-out;
} 

.contentsbg:hover {
    background-color: rgb(211, 174, 125);
    transform: translate(-1%) rotate(-20deg);
}

.contents {
    background-color: black;
    height: 400px;
    width: 400px;
    z-index: 3;
    display: absolute;
}

