body {
    background-color: #FFE398;
    /* background-color: Mohammad-Meat-Red; */
    /* overflow:hidden; */

}

header {
    /* background-color: red; */
    display: contents;
}


header::after {
    content: '';
    display: table;
    clear: both;
}



nav {
    font-size: 1.5em;
    float: right;
}

.navbar {
    width: 99%;
    margin-top: -30px;
    padding: 0;
    height: 80px;  
}


nav a {
    text-decoration: none;
    font-family: "Montserrat";
}

nav a:hover {
    color: #944ed0
}

nav a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: #944ed0;
    position: absolute;
    bottom: -10px;
    transition: all ease-in-out 100ms
}

nav a:hover::after {
    width: 100%;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 50px;
    margin-top: 24px;
    position: relative;
    float: right;
}

.logo {
    width: 100px;
    display: inline-block;
    transform: translate(0px, 35px);
}

.logodiv {
    width: 31%;
    height: 100%;
    font-size: 25px;
    font-family: "Poetsen One";
    /* background-color: black; */
    float: left;
}

.logodiv p {
    transform: translate(-2px, 10px);
    font-size: 1.5em;
    color: #ed2228;
    display:inline-block
}

.logodiv a {
    text-decoration: none;
}

.background {
    width: 100%;
    background-color: white;
}
.background img {
    display: flex;
    justify-content: center;
    object-fit: cover;
    height: 630px;
    width: 1200px;
    background-repeat: no-repeat;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.menu h1 {
    text-align: center;
    font-family: "Montserrat";
}

