body {
    margin: 0;
    background-color: rgb(255, 227, 192);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-decoration: none;
}


.links .active {
    font-weight: bold;
}


.navwrapper {
    height: 5%;
    z-index: 3;
}

.navwrapper nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:#ffd093;
    justify-content: space-between;
    /* background-color: red; */
}


.navwrapper {
    animation: translatenav 0.8s ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}


@keyframes translatenav {
    0% {
        transform: translate(0, -500px);
    }
    100% {
        transform: translate(0, 0)
    }
}







.homebutton {
    width: 40%;
    height: 100%;
    /* background-color: grey; */
    display: inline-block;
}

.logolabel {
    /* background-color: aqua; */
    height: 50%;
}

.homebutton .logolabel {
    display: relative;
    float: right;
    width: 75%;
    height: 60%;
}



.logo img {
    float: left;
    width: 180px;
}

.logolabel p {
    font-size: 2.5vw;
    font-family: "Poetsen One";
    color: #f02131;
}

.links {
    display: flex;
    justify-content: center;
    /* background-color: black; */
}

.links a {
    font-size: 2em;
    font-family: "Montserrat";
    display: flex;
    text-decoration: none;
    padding: 0% 3%;
    color: black;
    transition: all 100ms ease
}

.links a:hover {
    transform: scale(1.05);
}

.buttons p {
    color: black;
    font-size: 1.3em;
    padding-right: 15px;
}
.buttons i {
    margin-right: 15px;
}

.skews {
    max-height: 50vh;
    display: flex;
    /* background-color: burlywood; */
    z-index: 1;
}


.skews {
    animation: transformskews 0.5s ease;
}

@keyframes transformskews {
    0% {
        transform: translate(0, 2000px);
    }
    100%    {
        transform: translate(0,0);
    }
}


.top {
    position: absolute;
    margin: 0;
    right: 0;
    height: 25vh;
    width: 100%;
    background-color: #ffd093;
    z-index: 2;
}

.skewleft {
    height: 60vh;
    width: 200%;
    background-color: #ffd093;
    transform: skew(20deg);
    border-radius: 50px;
    z-index: 1;
}

.skewright {
    height: 60vh;
    width: 120%;
    background-color: #ffd093;
    transform: skew(-20deg);
    border-radius: 50px;
    z-index: 1;
}

.navimap {
    margin: 0;
    padding: 0;
    top: 13%;
    left: 6vw;
    position: absolute;
    height: 25vh;
    width: 1000px;
    z-index: 2;
    text-align: center;
}

.navimap {
    animation: transformnavi 0.5s ease
}

@keyframes transformnavi {
    0% {
        transform: translate(0, 2000px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.venueimage {
    position: absolute;
    right: 10%;
    margin: 0;
    padding: 0;
    top: 20%;
    z-index: 3;
    width: 30vw;
}

.venueimage {
    animation: venueimage 0.5s ease
}

@keyframes venueimage {
    0% {
        transform: translate(0, 2000px);
    }
    100% {
        transform: translate(0,0);
    }
}

.container {
    background-color: burlywood;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    margin-bottom: 50px;
    height: auto;
    width: 80%;
    border-radius: 50px;
    z-index: -1;
}

.container {
    animation: container 0.6s ease;
}

@keyframes container {
    0% {
        transform: translate(0, 2000px);
    }    
    100% {
        transform: translate(0,0);
    }
}

.venues {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    width: 80%;
    margin-left: 8.5vw;
    text-align: center;
    font-family: "Briem Hand";
}

.venues a {
    text-decoration: none;
}

.venue {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #aa7d007e;
    border-radius: 20px;
}

.venue:hover {
    background-color: #946d007e;
}

.venue-heading {
    color: gold;
}

.venue-info {
    text-align: center;
    font-family: "Poetsen One";
    font-weight: normal;
    color: black;
    font-size: 1.2em;
    
}

.venue-info span {
    font-size: 1.3em;
}

.pre {
    margin: 5px;
    font-size: 1.5em;
    font-weight: bold;
}

.img {
    margin-top: 25px;
    padding-bottom: 25px;
    height: auto;
}

.img img {
    object-fit: cover;
    border-radius: 20px;
    width: 300px;
    height: 230px;
}





